ul {
    list-style: none;
    padding: 0 !important;
  }
  li{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    gap:10px
  }
  .footer{
    background-color: rgb(45, 116, 148);
    color: rgb(247, 250, 251)
  }
  .footer-row{
    padding-bottom:50px;
    border-bottom:2px solid rgb(217, 217, 217);
  }
  .footer-icons{
    color: rgb(197, 176, 60);
    font-size: '20px' 
  }
